<div
  class="column m-6 is-gapless is-mobile is-desktop is-flex flex-wrap is-flex-direction-row"
>
  <div class="card is-shadowless" style="width: 18rem;">
    <header class="card-header has-background-primary">
      <button class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-dice-d20 fa-xl" aria-hidden="true"></i>
        </span>
        <p class="card-header-title subtitle has-text-centered" id="#gameTitle">
          {{gameName}}
        </p>
      </button>
    </header>
    <div class="card-content" style=" border-style: solid;">
      <div class="content">
        <h5 class="has-text-centered" id="#gameType">{{gameType}}</h5>
        <li id="gamePlayers">Players:
          {{minNumberOfPlayers}}-{{maxNumberOfPlayers}}</li>
        <li id="gameLength">Game Length:
          {{minGameLength}}-{{maxGameLength}}
          minutes</li>
        <p id="#gameDesc">{{gameDescription}}</p>
      </div>
    </div>
  </div>
</div>